{% extends 'layout.html' %}

{% block body %}
    <!--suppress JSUnresolvedFunction -->
  <form
    action="/"
    method="post"
    enctype="multipart/form-data"
    class="mx-auto"
    style="max-width:500px;">

      {% for fld in fields %}
        {% include 'form-fields.html' %}
      {% endfor %}

      <a class="btn btn-secondary" data-toggle="collapse"
        href="#advanced-options-container" role="button" aria-expanded="false"
        aria-controls="collapseExample">
        Advanced Options
      </a>

      <div class="collapse" id="advanced-options-container"
        style="margin-top: 20px;">
        <div class="card card-body">
          {% for fld in advanced_fields %}
            {% include 'form-fields.html' %}
          {% endfor %}
        </div>
      </div>

      <br/>
      <br/>
      <hr/>

      <div style="text-align: center;">
      <button type="submit" class="btn btn-primary mt-1 float-none">
        <span style="font-size: 1.2em;">Submit</span>
      </button>
        </div>

    </form>
    <div class="clearfix mb-3"></div>

    {% if stdout %}
      <div class="alert alert-success message-bar" style="position:relative">
        <span style="position:absolute;top:1px;right:10px;cursor:pointer;">
          x
        </span>
        <pre>{{ stdout }}</pre>
      </div>
    {% endif %}

    {% if stderr %}
      <div class="alert alert-danger message-bar" style="position:relative">
        <span style="position:absolute;top:1px;right:10px;cursor:pointer;">
          x
        </span>
        <pre>{{ stderr }}</pre>
      </div>
    {% endif %}

    {% if files_loc %}
      <!--suppress HtmlUnknownTarget -->
      <form id="form-export" method="post" action="/export">
        <input type="hidden" name="files_loc"
          value="{{ files_loc }}"/>
      </form>
    {% endif %}

{% endblock %}


{% block scripts %}
<script>
  $('.message-bar span').on('click', function(){
    $(this).closest('.message-bar').hide();
  });
  $('input[type="file"]').on('change', function(){
    $('.message-bar').hide();
  });
  $(function(){
    $('#form-export').submit();
  });
</script>
{% endblock %}